.chat-main 
  .chat-main__group-info
    .group-items
      .group-items__name
        = @group.name
      .group-items__member
        %ul.member__list
          Member：
          - @group.users.each do |user|
            %li.member__list--indent= user.name
    .edit
      %a.edit__btn
      = link_to edit_group_path(@group), class: "edit__btn--link" do
        Edit

  .chat-main__message-list
    = render @messages

  .chat-main__message-form
    = form_with model: [@group, @message], html: {class: "form-box"}, local: true do |f|
      .form-box__contents
        = f.text_field :comment, class: 'text', placeholder: 'type a message'
        = f.label :image, class: 'image' do
          = icon('fas', 'image', class: 'image')
          = f.file_field :image, class: 'image__click'
      = f.submit 'Send', class: 'form-box__btn'